       
        <div class="mb-4">
            <h2><%- tituloCabecalho %></h2>
        </div>

       <!-- Pessoa -->
        <div class="col-md-12 mb-4">
            <div class="card card-ocorrencia">
                <div class="card-header card-header-ocorrencia">
                    <h5 class="card-title "><%= subCabecalho %></h5>
                </div>
                <div class="card-body">

                   
                    <form class="g-3 needs-validation" action="<%- rota %>" method="post" id="formManteridOcorrenciaTipo" novalidate>
                        <input type="hidden" id="idOcorrenciaTipo" name="idOcorrenciaTipo" value="<%- idOcorrenciaTipo %>">
                        
                        <div class="mb-3 row">
                            <div class="col-md-2">
                                <label for="nmOcorrenciaTipo" class="form-label">Nome do Tipo de Ocorrencia</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="nmOcorrenciaTipo" name="nmOcorrenciaTipo" class="form-control" aria-label="Código Acesso" value="<%- nmOcorrenciaTipo %>" required>
                                <div id="nmOcorrenciaTipo" class="errorMensageAlert text-danger"></div>
                            </div>
                        </div>
                        
                        <div class="mb-3 row">
                            <div class="col-md-2">
                                <label for="icResponsavelCoordenadorCurso" class="form-label">Responsável é o Coordenador do Curso</label>
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" id="icResponsavelCoordenadorCurso" name="icResponsavelCoordenadorCurso" class="form-control" aria-label="Coordenador do Curso" value="<%- icResponsavelCoordenadorCurso %>">
                            </div>
                        </div>



                        <!-- Responsável pela Ocorrência -->
                        <div class="mb-3 row">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend><h5>Resposável Tipo Ocorrência</h5></legend>  
                                    <div class="col-sm-12">
                                        
                                        
                                        <input type="hidden" id="hiddenResponsavelConfiguradoList" name="hiddenResponsavelConfiguradoList" value="">

                        
                                        <!-- Pessoa -->
                                        <div class="container">
                                            <div class="row">
                                              <div class="col-md-5">
                                                <div class="card list-container">
                                                  <div class="card-header">
                                                    <h5 class="card-title">Pessoas Disponíveis</h5>
                                                  </div>
                                                  <ul class="list-group list-group-flush" id="optionsOcorrenciaDisponiveisPessoa">
                                                    <% 
                                                        pessoaList.forEach(item => { 
                                                    %>
                                                            <li class="list-group-item" data-value="pessoa:<%- item.idPessoa %>" data-text="<%- item.nmPessoa %>"><%= item.nmPessoa %></li>
                                                    <%
                                                        });
                                                    %>  
                                                  </ul>
                                                </div>
                                              </div>
                                              
                                              <div class="col-md-2 d-flex align-items-center justify-content-center">
                                                <button id="optionsOcorrenciaBotaoAddPessoa" class="btn btn-primary">Adicionar</button>
                                              </div>

                                              <div class="col-md-5">
                                                <div class="card selected-container">
                                                  <div class="card-header">
                                                    <h5 class="card-title">Pessoas Selecionadas</h5>
                                                  </div>
                                                  <ul class="list-group list-group-flush" id="optionsOcorrenciaSelecionadoPessoa">
                                                  <% 
                                                    pessoaList_Configurado.forEach(item => { 
                                                  %>
                                                      <li class="list-group-item" data-value="pessoa:<%- item.idPessoa %>" data-text="<%- item.nmPessoa %>"><%= item.nmPessoa %></li>
                                                  <%
                                                    });
                                                  %>  
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        
                                        <div class="row">
                                            <div class="col-md-12"></div>
                                            <br/>
                                        </div>    

                                         <!-- Perfil -->
                                        <div class="container">
                                            <div class="row">
                                              <div class="col-md-5">
                                                <div class="card list-container">
                                                  <div class="card-header">
                                                    <h5 class="card-title">Perfis Disponíveis</h5>
                                                  </div>
                                                  <ul class="list-group list-group-flush" id="optionsOcorrenciaDisponiveisPerfil">
                                                    <% 
                                                        perfilList.forEach(item => { 
                                                    %>
                                                            <li class="list-group-item" data-value="perfil:<%- item.idPerfil %>" data-text="<%- item.nmPerfil %>"><%= item.nmPerfil %></li>
                                                    <%
                                                        });
                                                    %>  
                                                  </ul>
                                                </div>
                                              </div>
                                              <div class="col-md-2 d-flex align-items-center justify-content-center">
                                                <button id="optionsOcorrenciaBotaoAddPerfil" class="btn btn-primary">Adicionar</button>
                                              </div>
                                              <div class="col-md-5">
                                                <div class="card selected-container">
                                                  <div class="card-header">
                                                    <h5 class="card-title">Perfis Selecionadas</h5>
                                                  </div>
                                                  <ul class="list-group list-group-flush" id="optionsOcorrenciaSelecionadoPerfil">
                                                    <% 
                                                      perfilList_Configurado.forEach(item => { 
                                                    %>
                                                        <li class="list-group-item" data-value="perfil:<%- item.idPerfil %>" data-text="<%- item.nmPerfil %>"><%= item.nmPerfil %></li>
                                                    <%
                                                      });
                                                    %>  
                                                    </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
       

                                    </div>
                                </fieldset>
                            </div>
                        </div>    


                        <button type="submit" class="btn card-header-ocorrencia hover:bg-fuchsia-700">Salvar</button> 
                        <button type="button" id="btnOcorrenciaTipoCancelar" onclick="carregarConteudoMain('/api/ocorrenciaTipo/listar/0')" class="btn card-header-ocorrencia hover:bg-fuchsia-700">Cancelar</button>
                    </form>
                    
                </div>
            </div>
        </div>
   
    <script src="/javascript/ocorrenciatipo_javascript.js"></script>

   