       
        <div class="mb-4">
            <h2><%- tituloCabecalho %></h2>
        </div>

       <!-- Pessoa -->
        <div class="col-md-12 mb-4">
            <div class="card card-ocorrencia">
                <div class="card-header card-header-ocorrencia">
                    <h5 class="card-title "><%= subCabecalho %></h5>
                </div>
                <div class="card-body">

                   
                    <form class="g-3 needs-validation" action="<%- rota %>" method="post" id="formManterPessoa" novalidate>
                        <input type="hidden" id="id" name="id" value="<%- idPessoa %>">
                        <div class="mb-3 row">
                            <div class="col-md-2">
                                <label for="nmPessoa" class="form-label">Nome</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" id="nmPessoa" name="nmPessoa" class="form-text" aria-label="Nome" value="<%- nmPessoa %>">
                            </div>
                        </div>
                        
                        <div class="mb-3 row">
                            <div class="col-md-2">
                                <label for="nuCPF" class="form-label">CPF</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" id="nuCPF" name="nuCPF" class="form-text" aria-label="CPF" value="<%- nuCPF %>">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <div class="col-md-2">
                                <label for="urlFoto" class="form-label">URL Foto</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" id="urlFoto" name="urlFoto" class="form-text" aria-label="Foto" value="<%- urlFoto %>">
                            </div>
                        </div>

                        <button type="submit" class="btn card-header-ocorrencia hover:bg-fuchsia-700">Salvar</button> 
                        <button type="button" id="btnPessoaCancelar" onclick="carregarConteudoMain('/api/pessoa/listar/0')" class="btn card-header-ocorrencia hover:bg-fuchsia-700">Cancelar</button>
                    </form>
                    
                </div>
            </div>
        </div>
   
    <script src="/javascript/pessoa_javaScript.js"></script>