       
        <div class="mb-4">
            <h2><%- tituloCabecalho %></h2>
        </div>

       <!-- Pessoa -->
        <div class="col-md-12 mb-4">
            <div class="card card-ocorrencia">
                <div class="card-header card-header-ocorrencia">
                    <h5 class="card-title "><%= subCabecalho %></h5>
                </div>
                <div class="card-body">

                   
                    <form class="g-3 needs-validation" action="<%- rota %>" method="post" id="formManterPessoa" novalidate>
                        <input type="hidden" id="idPessoa" name="idPessoa" value="<%- idPessoa %>">
                        <div class="mb-3 row">
                            <div class="col-md-2">
                                <label for="nmPessoa" class="form-label">Nome</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="nmPessoa" name="nmPessoa" class="form-control" aria-label="Nome" value="<%- nmPessoa %>" required>
                                <div id="nmPessoa" class="errorMensageAlert text-danger"></div>
                            </div>
                        </div>
                        
                        <div class="mb-3 row">
                            <div class="col-md-2">
                                <label for="nuCPF" class="form-label">CPF</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="nuCPF" name="nuCPF" class="form-control" aria-label="CPF" value="<%- nuCPF %>" required>
                                <div id="nuCPF" class="errorMensageAlert text-danger"></div>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <div class="col-md-2">
                                <label for="urlFoto" class="form-label">URL Foto</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="urlFoto" name="urlFoto" class="form-control" aria-label="Foto" value="<%- urlFoto %>">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <div class="col-md-2">
                                <label for="nuTelefone" class="form-label">Telefone</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="nuTelefone" name="nuTelefone" class="form-control" aria-label="Telefone" value="<%- nuTelefone %>">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <div class="col-md-2">
                                <label for="edMail" class="form-label">E-mail</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="edMail" name="edMail" class="form-control" aria-label="Email" value="<%- edMail %>">
                            </div>
                        </div>

                        <!-- Usuário -->
                        <div class="mb-3 row">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend><h5>Usuário</h5></legend>
                                    <div class="col-sm-12">
                                        
                                        <input type="hidden" id="idUsuario" name="idUsuario" value="<%- idUsuario %>">
                        
                                        <div class="mb-3 row">
                                            <div class="col-md-2">
                                                <label for="coAcesso" class="form-label">Código Acesso</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" id="coAcesso" name="coAcesso" class="form-control" aria-label="Código Acesso" value="<%- coAcesso %>" required>
                                                <div id="coAcesso" class="errorMensageAlert text-danger"></div>
                                            </div>
                                        </div>
                                        
                                        <div class="mb-3 row">
                                            <div class="col-md-2">
                                                <label for="coSenha" class="form-label">Senha</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" id="coSenha" name="coSenha" class="form-control" aria-label="Senha" value="<%- coSenha %>" required>
                                                <div id="coSenha" class="errorMensageAlert text-danger"></div>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <div class="col-md-2">
                                                <label for="deAcesso" class="form-label">Descrição</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" id="deAcesso" name="deAcesso" class="form-control" aria-label="Descrição" value="<%- deAcesso %>">
                                            </div>
                                        </div>    



                                    </div>
                                </fieldset>
                            </div>
                        </div>    


                        <button type="submit" class="btn card-header-ocorrencia hover:bg-fuchsia-700">Salvar</button> 
                        <button type="button" id="btnPessoaCancelar" onclick="carregarConteudoMain('/api/pessoa/listar/0')" class="btn card-header-ocorrencia hover:bg-fuchsia-700">Cancelar</button>
                    </form>
                    
                </div>
            </div>
        </div>
   
    <script src="/javascript/pessoa_javaScript.js"></script>