       
        <div class="mb-4">
            <h2><%- tituloCabecalho %></h2>
        </div>

       <!-- Pessoa -->
        <div class="col-md-12 mb-4">
            <div class="card card-ocorrencia">
                <div class="card-header card-header-ocorrencia">
                    <h5 class="card-title "><%= subCabecalho %></h5>
                </div>
                <div class="card-body">

                   
                    <form class="g-3 needs-validation" action="<%- rota %>" method="post" id="formManterPessoa" novalidate>
                        <input type="hidden" id="id" name="id" value="<%- idUsuario %>">
                        <div class="mb-3 row">
                            <div class="col-md-2">
                                <label for="coAcesso" class="form-label">Código Acesso</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" id="coAcesso" name="coAcesso" class="form-text" aria-label="Código Acesso" value="<%- coAcesso %>">
                            </div>
                        </div>
                        
                        <div class="mb-3 row">
                            <div class="col-md-2">
                                <label for="coSenha" class="form-label">Senha</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" id="coSenha" name="coSenha" class="form-text" aria-label="Senha" value="<%- coSenha %>">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <div class="col-md-2">
                                <label for="deAcesso" class="form-label">URL Foto</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" id="deAcesso" name="deAcesso" class="form-text" aria-label="Descrição" value="<%- deAcesso %>">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <div class="col-md-2">
                                <label for="ddlPessoa" class="form-label">Pessoa</label>
                            </div>
                            <div class="col-md-10">
                                <select id="ddlPessoa" name="ddlPessoa" class="form-select form-select-lg" aria-label="Pessoa"></select>
                            </div>
                        </div>

                        <button type="submit" class="btn card-header-ocorrencia hover:bg-fuchsia-700">Salvar</button> 
                        <button type="button" id="btnPessoaCancelar" onclick="carregarConteudoMain('/api/pessoa/listar/0')" class="btn card-header-ocorrencia hover:bg-fuchsia-700">Cancelar</button>
                    </form>
                    
                </div>
            </div>
        </div>
   
    <script src="/javascript/usuario_javascript.js"></script>